{% extends "learning_logs/base.html" %}
<!--继承base.html使得登陆页面与网站其他页面的外观相同-->
{% load bootstrap3 %}   <!--可自动管理表单错误-->

{% block header %}   <!--描述页面是做什么用的-->
  <h2>Log in to your account.</h2>
{% endblock %}
 
{% block content %}
      
      {% if form.errors %} <!--若不匹配，打印错误信息-->
      <p> Your username and password didn't match. Please try again.</p>
      {% endif %}
 
      <form method="post" action="{% url 'users:login' %}" class="form">
      {% csrf_token %}        <!--防止攻击者利用表单来获得对服务器未经授权的访问;CSRF(跨站点伪造请求)-->
      {% bootstrap_form form %}    <!--将bootstrap样式规则应用于各个表单元素-->
 
      {% buttons %}
        <button name="submit" class="btn btn-primary">log in</button>  <!--添加登录按钮-->
      {% endbuttons %}
      
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>  <!--隐藏表单元素next,value让Django指向某个位置（用户登录成功后）-->
      </form>
{% endblock content %}